<div class="container">
    <h1 class="col-lg-6 col-md-10 col-sm-10"><%= title %> Contact</h1>
    <hr>
    <div id="messageArea"></div>

    <div class="row justify-content-lg-center g-3">
      <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
          <span class="input-group-text">First name</span>
          <input id="firstName" name="firstName" type="text" class="form-control" 
          value="<%= contact.FirstName %>"
          aria-label="Contact FirstName" aria-describedby="Contact FirstName Input" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Last name</span>
            <input id="lastName" name="lastName" type="text" class="form-control" 
            value="<%= contact.LastName %>"
            aria-label="Contact LastName" aria-describedby="Contact LastName Input" required>
          </div>

        <div class="input-group mb-3">
        <span class="input-group-text">Contact Number</span>
        <input id="contactNumber" name="contactNumber" type="text" class="form-control" 
        value="<%= contact.ContactNumber %>"
        aria-label="Contact Number" aria-describedby="Contact Number Input" required>
        </div>

        <div class="input-group mb-3">
        <span class="input-group-text">Email Address</span>
        <input id="emailAddress" name="emailAddress" type="text" class="form-control" 
        value="<%= contact.EmailAddress %>"
        aria-label="Email Address" aria-describedby="Email Address Input" required>
        </div>
        
        <% if(title == "Edit") { %>
        <button id="editButton" type="submit" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <td class="text-center"><a href="/delete/<%=contact.id_%>" class="btn btn-danger deleteOnEdit"><i class="fa-solid fa-trash-can"></i> Delete</a></td>
        <% } else {%>
        <button id="addButton" type="submit" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
        <% } %>  

        <a href="/contact-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Cancel</a>
      
      </form>

    </div>
</div>