<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to RunnerUP tournament site!</h1> 
         <h1 class="display-5">List of Tournaments</h1>
      </div>
      <div class="row">
        <div class="col">
            <a href="/add" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-circle-plus"></i> Add Tournament</a>
           <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Tournament Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Active</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contactList">
                <!-- Repeatable Rows -->
                <% for(let count = 0; count < tournament.length; count++) { %> 
                    
                    <tr>
                        <th scope="row" class="text-center"> <%= count +1 %></th>
                        <td><a href="/<%= tournament[count]._id %> "><%= tournament[count].Name %></a>  </td>
                        <td ><%= tournament[count].Owner %> </td>
                        <% if(tournament[count].isActive){ %>
                            <td>Yes</td>
                          <% } else{ %>  
                            <td>No</td>
                         <% } %>  
                         <td class="text-center"><a href="/edit/<%= tournament[count]._id %> " class="btn btn-primary btn-sm edit"><i class="fa-solid fa-pen-to-square"></i> Edit</a></td>
                         <td class="text-center"><a href="/delete/<%= tournament[count]._id %> " class="btn btn-danger btn-sm delete"><i class="fa-solid fa-trash-can"></i> Delete</a></td>
                    </tr>
                <% } %>     
            </tbody>
           </table>
        </div>
    </div>
</div>
