<div class="container">
    <h1 class="col-lg-6 col-md-10 col-sm-10">Manage <%= tournament.Name %></h1>
    <hr>
    <div id="messageArea"></div>

    <div class="row justify-content-lg-center g-3">
      <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <h1>First Round</h1>
            <div class="input-group mb-3">
                <span class="input-group-text">Team 1: </span>
                <input id="team1" name="team1" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Participants[0] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 2: </span>
                <input id="team2" name="team2" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Participants[1] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 3: </span>
                <input id="team3" name="team3" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Participants[2] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 4: </span>
                <input id="team4" name="team4" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Participants[3] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 5: </span>
                <input id="team5" name="team5" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Participants[4] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 6: </span>
                <input id="team6" name="team6" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Participants[5] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 7: </span>
                <input id="team7" name="team7" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Participants[6] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 8: </span>
                <input id="team8" name="team8" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Participants[7] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <h1>Semi Final</h1>
            <div class="input-group mb-3">
                <span class="input-group-text">Team 1: </span>
                <input id="sfteam1" name="sfteam1" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.SemiFinal[0] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 2: </span>
                <input id="sfteam2" name="sfteam2" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.SemiFinal[1] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 3: </span>
                <input id="sfteam3" name="sfteam3" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.SemiFinal[2] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 4: </span>
                <input id="sfteam4" name="sfteam4" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.SemiFinal[3] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <h1>Runner-Up</h1>
            <div class="input-group mb-3">
                <span class="input-group-text">Team 1: </span>
                <input id="ruteam1" name="ruteam1" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.RunnerUp[0] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 2: </span>
                <input id="ruteam2" name="ruteam2" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.RunnerUp[1] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <h1>Final</h1>
            <div class="input-group mb-3">
                <span class="input-group-text">Team 1: </span>
                <input id="fteam1" name="fteam1" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Final[0] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Team 2: </span>
                <input id="fteam2" name="fteam2" type="text" class="form-control" 
                value="<%= (tournament == "") ? tournament : tournament.Final[1] %>"
                aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
              </div>
        
        <button id="editButton" type="submit" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <a href="/home" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Cancel</a>
      
      </form>
      <p>
    </p>
    <p>
    </p>
    </div>
</div>