<div class="container pb-5">
    <div class="jumbotron">

         <h1 class="display-5">My Tournament List</h1>
         
         <% if(tournament == "") { %>
            <P> You have zero tournament in your list. Please add a tournament.</P>
            <% } %>  
      </div>
      <div class="row">
        <div class="col">
            <a href="/home" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-angle-left"></i> All Tournaments</a>
            <a href="/add/<% uid %>" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-circle-plus"></i> Add Tournament</a>
            <% if(tournament != "") { %> 
            <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Tournament Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contactList">
                <!-- Repeatable Rows -->
                <% for(let count = 0; count < tournament.length; count++) { %> 
                    
                    <tr>
                        <th scope="row" class="text-center"> <%= count +1 %></th>
                        <td><%= tournament[count].Name %> </td>
                        <td ><%= tournament[count].Owner.DisplayName %> </td>
                        <% if(tournament[count].isActive){ %>
                            <td>Active</td>
                          <% } else{ %>  
                            <td>Inactive</td>
                         <% } %>  

                         <td class="text-center"><a href="/view/<%= tournament[count]._id %>" class="btn btn-info btn-sm edit"><i class="fa-solid fa-eye"></i> View</a></td>
                         <td class="text-center"><a href="/manage/<%= tournament[count]._id %> " class="btn btn-primary btn-sm edit"><i class="fa-solid fa-list-check"></i> Manage</a></td>
                         <td class="text-center"><a href="/edit/<%= tournament[count]._id %> " class="btn btn-primary btn-sm edit"><i class="fa-solid fa-pen-to-square"></i> Edit</a></td>
                         <td class="text-center"><a href="/delete/<%= tournament[count].Owner.Id %>/<%= tournament[count]._id %> " class="btn btn-danger btn-sm delete"><i class="fa-solid fa-trash-can"></i> Delete</a></td>
                    </tr>
                <% } %>     
            </tbody>
           </table>
           <% } %>  
        </div>
    </div>
</div>
