<div class="container">
    <h1><%=tournament.Name%> Semi-Final</h1>
    <div class="row">
        <div class="col">
           <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Team 1</th>
                    <th scope="col"></th>
                    <th scope="col">Team 2</th>
                </tr>
            </thead>
            <tbody id="contactList">
                <!-- Repeatable Rows -->
                <% let index = 1; %>
                <% for(let count = 0; count < 4; count += 2) { %> 
                    
                    <tr>
                        <th scope="row" class="text-center"> <%= index %> <%index += 1; %></th>
                        <td><%= tournament.SemiFinal[count]%> </td>
                        <td class="text-center">vs</td>
                        <td><%= tournament.SemiFinal[count + 1]%> </td>
                    </tr>
                <% } %>     
            </tbody>
           </table>
           <a href="/<%= tournament._id %>" id="addButton" class="btn btn-primary mb-1">First-round</a>
           <button type="button" class="btn btn-primary mb-1" disabled>Semi-Final</button>
           <% if (tournament.RunnerUp[0] == "" && tournament.RunnerUp[1] == "") { %>
            <button type="button" class="btn btn-primary mb-1" disabled>Runner-Up</button>
            <% } else { %>
                <a href="/<%= tournament._id %>/runnerup" id="addButton" class="btn btn-primary mb-1">Runner up</a>
            <% } %>

            <% if (tournament.Final[0] == "" && tournament.Final[1] == "") { %>
                <button type="button" class="btn btn-primary mb-1" disabled>Final</button>
                <% } else { %>
                    <a href="/<%= tournament._id %>/final" id="addButton" class="btn btn-primary mb-1">Final</a>
                <% } %>
            
            
                <% if (tournament.First == "" && tournament.Second == "" && tournament.Third == "" && tournament.Fourth == "") { %>
                    <button type="button" class="btn btn-primary mb-1" disabled><i class="fa-solid fa-trophy"></i> Winners</button>
                    <% } else { %>
                        <a href="/<%= tournament._id %>/winners" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-trophy"></i> Winners</a>
                    <% } %>
                
        </div>
    </div>
</div>