<div class="container">
    <h1><%=tournament.Name%> Winners</h1>
    <div class="row">
        <div class="col">
           <table class="table table-striped table-bordered table-hover" >
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: auto">#</th>
                    <th >Team Name</th>
                </tr>
            </thead>
            <tbody id="contactList">
                    
                    <tr>
                        <th scope="row" style="width: auto"> First</th>
                        <td><%= tournament.First%> </td>
                    </tr>
                    <tr>
                        <th scope="row" style="width: auto"> Second</th>
                        <td><%= tournament.Second%> </td>
                    </tr>
                    <tr>
                        <th scope="row" style="width: auto"> Third</th>
                        <td><%= tournament.Third%> </td>
                    </tr>
                    <tr>
                        <th scope="row" width="auto"> Fourth</th>
                        <td><%= tournament.Fourth%> </td>
                    </tr>
                  
            </tbody>
           </table>
           
            <a href="/<%= tournament._id %>/semifinal" id="addButton" class="btn btn-primary mb-1">Semi-Final</a>
            <a href="/<%= tournament._id %>/runnerup" id="addButton" class="btn btn-primary mb-1">Runner up</a>
            <a href="/<%= tournament._id %>/final" id="addButton" class="btn btn-primary mb-1">Final</a>
        </div>
    </div>
</div>