<div class="container">
    <h1><%=tournament.Name%> Final</h1>
    
    
           
            <a href="/<%= tournament._id %>/runnerup" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-chevron-left"></i> Runner up</a>
            <a href="/<%= tournament._id %>/winners" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-trophy"></i> Winners</a>
            <% if (tournament.Final[0] == "" && tournament.Final[1] == "" ) { %>
                <p class="h4">
                    Teams have not been assigned yet.
                  </p>
                  <% } else { %>
        <div class="bout">
            <a href='/<%= tournament._id %>/Final/<%= tournament.Final[0] %>/<%= tournament.Final[1] %>' class="btn btn-danger team teamT" role="button"> <h3>Team 1</h3> <br> <%= tournament.Final[0] %></a>
            <br>
            <a href="/<%= tournament._id %>/Final/<%= tournament.Final[1] %>/<%= tournament.Final[0] %>" class="btn btn-danger team teamB"> <h3>Team 2</h3> <br> <%= tournament.Final[1] %></a>
            <br>
            <a href="#" class="btn btn-success team teamB"> <h3>Winner</h3> <br> <%= tournament.First %></a>
    </div>
    <% } %>   
</div>