<div class="container">
    <h1><%=tournament.Name%> Runner-up</h1>
   
    
             
           <a href="/<%= tournament._id %>/semifinal" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-chevron-left"></i> Semi-Final</a>
            <a href="/<%= tournament._id %>/final" id="addButton" class="btn btn-primary mb-1">Final <i class="fa-solid fa-chevron-right"></i></a>
            <% if (tournament.RunnerUp[0] == "" && tournament.RunnerUp[1] == "" ) { %>
                <p class="h4">
                    Teams have not been assigned yet.
                  </p>
                  <% } else { %>
    <div class="bout single">
        <a href='/<%= tournament._id %>/RunnerUp/<%= tournament.RunnerUp[0] %>/<%= tournament.RunnerUp[1] %>' class="btn btn-danger team teamT" role="button"> <h3>Team 1</h3> <br> <%= tournament.RunnerUp[0] %></a>
        <br>
        <a href="/<%= tournament._id %>/RunnerUp/<%= tournament.RunnerUp[1] %>/<%= tournament.RunnerUp[0] %>" class="btn btn-danger team teamB"> <h3>Team 2</h3> <br> <%= tournament.RunnerUp[1] %></a>
        <br>
        <a href="#" class="btn btn-warning team winner"> <h3>Winner</h3> <br> <%= tournament.Third %></a>
        <% } %> 
</div>