<div class="container">
    <h1><%=tournament.Name%> Semi-Final</h1>
          
           <a href="/<%= tournament._id %>/firstround" id="addButton" class="btn btn-primary mb-1"><i class="fa-solid fa-chevron-left"></i> First-round</a>
            <a href="/<%= tournament._id %>/runnerup" id="addButton" class="btn btn-primary mb-1">Runner up <i class="fa-solid fa-chevron-right"></i></a>
        
            <% if(messages.length > 0) { %>
                
                <div id="messageArea" class="alert alert-danger"><%= messages %></div>
             
            <% } %>

        <% if (tournament.SemiFinal[0] == "" && tournament.SemiFinal[1] == "" && tournament.SemiFinal[2] == "" && tournament.SemiFinal[3] == "") { %>
            <p class="h4">
                Teams have not been assigned yet.
              </p>
              <% } else { %>
                
    <div class="boutContainer">
    <div class="bout bout1">
        <a href='/<%= tournament._id %>/semifinal/1/<%= tournament.SemiFinal[0] %>/<%= tournament.SemiFinal[1] %>' class="btn btn-danger team teamT" role="button"> <h3>Team 1</h3> <br> <%= tournament.SemiFinal[0] %></a>
        <br>
        <a href="/<%= tournament._id %>/semifinal/1/<%= tournament.SemiFinal[1] %>/<%= tournament.SemiFinal[0] %>" class="btn btn-danger team teamB"> <h3>Team 2</h3> <br> <%= tournament.SemiFinal[1] %></a>
        <br>
        <img class="bracket" src="/Assets/Images/bracket.png">
        <a href="#" class="btn btn-warning team winner"> <h3>Winner</h3> <br> <%= tournament.Final[0] %></a>
    </div>
    <div class="bout bout2">
        <a href="/<%= tournament._id %>/semifinal/2/<%= tournament.SemiFinal[2] %>/<%= tournament.SemiFinal[3] %>" class="btn btn-danger team teamT"> <h3>Team 3</h3> <br> <%= tournament.SemiFinal[2] %></a>
        <br>
        <a href="/<%= tournament._id %>/semifinal/2/<%= tournament.SemiFinal[3] %>/<%= tournament.SemiFinal[2] %>" class="btn btn-danger team teamB"> <h3>Team 4</h3> <br> <%= tournament.SemiFinal[3] %></a>
        <br>
        <img class="bracket" src="/Assets/Images/bracket.png">
        <a href="#" class="btn btn-warning team winner"> <h3>Winner</h3> <br> <%= tournament.Final[1] %></a>
    </div>
    </div>
    <% } %>
</div>